/*   CSS Document   */

html {
    font-family: fantasy;
}

body {
    background-color: #221f1f;
    width: 90vw;
    margin: 0 auto;
    background-image: url(https://images.pexels.com/photos/110854/pexels-photo-110854.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb);
    background-size: cover;

}

a {
    color: yellow;
    font-family: sans-serif;
}

button {
    height: 30px;
    font-size: 14px;
    margin: 5px;
}

.refreshBtn {
    height: 30px;
    font-size: 14px;
    margin: 5px;
    background-color: royalblue;
    color: yellow;
}


header {
    height: 100px;
    width: 100%;
    color: white;
    padding: 8px;
    display: flex;
    border-bottom: 2px solid silver;
    margin-bottom: 5px;
}

header h1 {
    padding-left: 20px;
    padding-top: 20px;
    width: 100%;
}

.weekText {
    margin-right: 15px;
    margin-top: 5px;
}

.topMiddleSection {
    display: flex;
    color: silver;
    padding 10px;
}




.displayTextHolder {
    background-color: rgba(41, 40, 38, 0.05);
    height: 600px;
    width: 100%;
    margin: 5px auto;
    padding: 8px;
    overflow: scroll;
}

.displayText {
    color: silver;
    font-size: 32px;
    text-align: center;
    overflow: hidden;
}

.astroidImpact {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIsuTfPUM1j8JZXkc3CTGzo93bBc2wbtzG5Hv-VfDEnrkX5GfC);
    background-size: contain;
    background-repeat: no-repeat;
    height: 240px;
    margin-top: 20px;
}

footer {
    height: 60px;
    margin-top: 16px;
    color: darkgray;
    text-align: center;
    padding-top: 25px;
}
